* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: #008fbb;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  height: 60px;
  padding: 10px 15px;
  border-radius: 10px;
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
  box-sizing: border-box;
  width: 100%;
}

.card-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.card {
  border-color: lightgray;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  padding: 10px;
  display: flex;
  background-color: white;
}

.title {
  margin: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px 0;
  }

  .card-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .card {
    margin: 5px;
    width: 90%;
  }
  
  .card-img {
    height: 120px;
    width: 80px;
  }

  .search-field {
    font-size: 20px;
    margin: 5px 18px;
  }
}

@media (min-width: 768.2px) {
  .container {
    padding: 30px 150px;
  }

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 5px;
    width: 300px;
    flex-direction: row;
    flex-grow: 1;
  }
  
  .card-img {
    height: 240px;
    width: 160px;
  }

  .search-field {
    font-size: 25px;
    margin: 15px 5px;
  }
}